@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", "Work Sans", Arial, Helvetica, sans-serif;
}
a.active {
  background: rgba(255, 255, 255, 0.12);
  color: black;
  border-radius: 5px;
}
